{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 6/17/19 9:26AM
{% endcomment %}
<!-- /templates/page.liquid -->
<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item large--two-thirds push--large--one-sixth">
      <h1 class="text-center h2">{{ page.title }}</h1>
      <div class="rte">
        <div id="talkable-offer"></div>
        {% include 'addthis' %}
      </div>
    </div>
  </div>
</div>
